@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
			
    * {
        font-family: Lato;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: rotateX(-10deg);
        }

        to {
            opacity: 1;
            transform: rotateX(0);
        }
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
        color: #2F3362;
        overflow-x: hidden;
        background-color:hsla(60, 100%, 99%, 0.911);
    }

    a {
        text-decoration: none;
    }
    
    h1, h2, h3, h4, h5, h6 {
        padding-left: 20px;
    }
    
    p {
        padding-left: 20px;
    }

    .indent {
        padding-left: 100px;
    }

    .indent2 {
        padding-left: 30px;
    }

    .hr1 {
        width: 97%;
        margin: auto;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    
    ::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(113, 112, 117); 
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(72, 70, 87); 
    }

    nav {
        height: 50px;
        background-color: #2F3362;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
    }

    nav > #slidco {
        display: inline-block;
    }

    nav > #slidco > a {
        float: left;
        text-align: center;
        padding: 13px 18px;
        width: 150px;
        margin-top: 1px;
        font-size: 18px;
        color: hsla(60, 100%, 99%, 0.911);
        transition: 0.1s;
    }

    nav > #slidco > div > a {
        float: left;
        text-align: center;
        padding: 13px 18px;
        width: 150px;
        margin-top: 1px;
        font-size: 18px;
        color: hsla(60, 100%, 99%, 0.911);
        transition: 0.1s;
    }

    #slidco > .slidco:hover ~ hr.slider {
        transition: 0.1s;
    }

    #slidco > .slidco1:hover ~ hr.slider {
        display: inline-block;
        margin-left: -920px;
        width: 170px;
    }

    #slidco > .slidco2:hover ~ hr.slider {
        display: inline-block;
        margin-left: -750px;
    }

    #slidco > .slidco3:hover ~ hr.slider {
        display: inline-block;
        margin-left: -550px;
        width: 175px;
    }

    #slidco > .slidco4:hover ~ hr.slider {
        display: inline-block;
        margin-left:  -375px;
    }

    #slidco > .slidco5:hover ~ hr.slider {
        display: inline-block;
        margin-left: -175px;
        width: 175px;
    }

    hr.slider {
        position: relative;
        display: none;
        height: .25rem;
        width: 200px;
        margin-top: 40px;
        margin-left: -905px;
        background: hsla(34, 9%, 85%, 0.965);
        border: none;
        transition: .3s ease-in-out;

        animation-name: fadeIn;
        animation-duration: 0.3s;
    }

    #charanav {
        float: left;
    }

    #charanav > a {
        position: relative;
        display: inline-block;
        text-align: center;
        padding: 13px 18px;
        margin: 3px;
        font-size: 18px;
        color: hsla(34, 9%, 85%, 0.965);
        transition: 0.1s;
    }

    #charanav > a:hover {
        color: hsla(34, 9%, 85%, 0.767);
        font-size: 17px;
    }

    .charanav-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 3;
    }

    .charanav-content > a{
        color: #0c114d;
        padding: 5px 8px;
        display: block;
    }

    .charanav-content > a:hover{
        background-color: #e2e2e2
    }

    #charanav:hover .charanav-content {
        display: block;
    }

    #content {
        animation-name: fadeIn;
        animation-duration:  1.5s;
    }

    #year {
        font-size: 50px;
        text-align: center;
    }

    #year.y2021 {
        padding-top: 70px;
    }

    #year.y2022 {
        padding-top: 30px;
    }

    #months {
        font-size: 30px;
        margin-top: -20px;
        margin-right: 50px;
        text-align: center;
    }

    #months > p{
        display: inline-block;
        width: 180px;
        text-align: center;
        font-style: oblique;
        color: #616268;
    }

    #months > button {
        display: inline-block;
        background-color:hsla(60, 100%, 99%, 0.911);
        width: 200px;
        border: none;
    }

    #months > button > a{
        color: #2F3362;
        font-size: 30px;
        font-weight: bolder;
    }

    #months > button> a:hover{
        opacity: 0.75;
        border-radius: 10px;
        padding-top: 10px;
        padding-right: 20px;
        padding-bottom: 10px;
        padding-left: 20px;
        color: hsla(60, 100%, 99%, 0.911);
        background-color: #2F3362;
        box-shadow: 0px 8px 16px 0px #2F3362;
        transition: 0.2s;
    }

    #months.y2022 {
        margin-bottom: 80px;
    }

    .events {
        display: none;
    }

    #closemonth {
        border: none;
        background-color: hsla(60, 100%, 99%, 0.911);
        display: inline-block;
        margin-top: -20px;
        margin-left: 5px;
        font-size: 15px;
        vertical-align: super;
    }

    #closemonth:hover {
        color: #17192e;
        transition: 0.3s;
        text-decoration: underline;
    }

    #footer {
        color: hsla(34, 9%, 85%, 0.965);
        background-color: #3c406b;
        overflow: hidden;
        position: relative;
        bottom: 0;
        width: 100%;
        z-index: 2;
        font-size: 10px;
        padding-top: 10px;

        animation-name: fadeIn;
        animation-duration:  1.5s;
    }

    #footer > #btt {
        background: url('../images/mechanics/arrows.png') no-repeat -399px -13px;
        border: none;
        display: block;
        position: absolute;

        padding: 13px 18px;
        text-align: center;
        margin-top: 15px;
        margin-left: 97%;
        transition: 0.1s;
    }

    #footer > #btt:hover {
        opacity: 0.5;
    }

    #references {
        height: 90px;
        overflow: auto;
    }

    #references::-webkit-scrollbar {
        display: none;
    }

    #references > p {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: -8px;
    }

    #references > ul > li {
        font-size: 15px;
    }

    #references > ul > li > a{
        color: hsla(34, 9%, 85%, 0.965);
        font-style: italic;
    }

    #references > ul > li > a:visited {
        color: hsla(34, 9%, 85%, 0.965);
    }

    #socmeds {
        float: right;
        margin-top: -25px;
        margin-right: 10px;
    }

    #twt {
        float: left;
        padding-right: 5px;
    }

    #twt > a {
        background: url('../images/socmed icons.png') no-repeat 0 0;
        width: 20px;
        height: 20px;
        display: inline-block;
        opacity: 0.6;
        transition: 0.3s;
    }

    #twt > a:hover {
        opacity: 1;
    }

    #fb {
        float: left;
        padding-right: 5px;
    }

    #fb > a {
        background: url('../images/socmed icons.png') no-repeat -23px 0 ;
        width: 20px;
        height: 20px;
        display: inline-block;
        opacity: 0.6;
        transition: 0.3s;
    }

    #fb > a:hover {
        opacity: 1;
    }

    #yt {
        float: left;
        padding-right: 5px;
    }

    #yt > a {
        background: url('../images/socmed icons.png') no-repeat -46px 0;
        width: 20px;
        height: 20px;
        display: inline-block;
        opacity: 0.6;
        transition: 0.3s;
    }

    #yt > a:hover {
        opacity: 1;
    }